<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">About</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12 mb-5">
            <div class="single-blog-item">
              <img src="images/blog/blog-1.jpg" alt="" class="img-fluid" />
              <div class="blog-item-content">
                <h2 class="mb-4 text-md">
                  <a>About the New Supply Chain Models and Ontologies</a>
                </h2>
                <p class="lead mb-4 text-justify">
                  Purpose: The Turmeric, Cinnamon and Ginger trade holds a minor exports crops in the Sri
Lankan market. Currently, it is critical to achieve competitive advantage of sustainable supply
chain management in Sri Lanka. Being the leading supplier of true the Turmeric, Cinnamon and
Ginger to the international market, Sri Lanka is still unable to cater the global demand. Our
research tries to map the supply chain and identify the influencing factors and their performance
on sustainable Supply Chain Management in the turmeric, cinnamon and ginger crops by
developing supply chain models and ontologies.
                </p>

                <p class="lead mb-4 text-justify">
                  Research Method: The methodology used for constructing a general-purpose ontology for
                  supply chain management is presented along with the resulting ontology and an ontology based
                  SCM model. We focus on Gampaha District and industry insights were drawn from 574 turmeric
                  famers, 2043 cinnamon farmers and 1033 ginger farmers. Primary data was collected by doing
                  interviews with farmers who were selected from a database of DEA which were complemented
                  by direct observation in the field. Secondary data were collected from the Department of Export
                  Agriculture in Gampaha District and Export Agriculture Department Board regarding supply
                  chains of those export minor crops.
                </p>

                <blockquote class="quote text-justify">
                  Our primary aim is to, Develop supply chain models for each selected crop - Turmeric,
Cinnamon and Ginger.
                </blockquote>

                <p class="lead mb-4 text-justify">
                  Findings: Build effective supply chain models for the turmeric, cinnamon and ginger crops. The
supply chain model includes functions, actors and products. The supply chain has inbound
logistics and outbound logistics. Gampaha has a quality performance on both customer-facing
supply chain and firm level businesses. The ways of increasing annual export revenue and the
profitability of selected three crops.
                </p>

                <h6> Objectives of the research </h6>
                <ul style="color: cornflowerblue">
                  <li>To find out the factors that can be automated in the developed models.</li>
                  <li>To develop a design guideline for the software / system developers in relevant fields.</li>
                  <li>To Develop separate ontologies for each developed model.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
          <div class="sidebar-widget tags mb-3">
            <h5 class="mb-4">Key Points</h5>
            <a>Turmeric</a>
            <a>Cinnamon</a>
            <a>Ginger</a>
            <a>Supply Chain </a>
            <a>SCOR model</a>
            <a>Ontology</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
