<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xl-7">
        <div class="block">
          <div class="divider mb-3"></div>
          <h1 class="mb-3 mt-3">Supply Chain Ontology System</h1>

          <p class="mb-4 pr-5">
            Best tool to measure the chain on your supply chain. Just a few minutes to your supply chain category.
          </p>
          <div class="btn-container">
            <a target="_blank" class="btn btn-main-2 btn-icon btn-round-full">
              Give it a try. <i class="icofont-simple-right ml-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
